.SecondHeader {
    width: 1020px;
    height: 190px;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
}

.SecondHeader p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
}

.SecondHeader h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 65px;
    margin-left: 40px;
    margin-bottom: 17px;
}

.SecondHeader .navigation {
    display: flex;
    flex-direction: row;
    margin-left: 42px;
}

.SecondHeader h3{
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.SecondHeader .border {
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 11px;
}


.SecondHeader .all {
    width: 29px;
}

.SecondHeader .WebDesing {
    width: 78px;
}

.SecondHeader .GraphicDesign {
    width: 93px;
}

.SecondHeader .ArtWork {
    width: 57px;
}

.SecondHeader .hov:hover {
    color: white;
    border: 1px solid white;
}

.SecondHeader .white:hover {
    color: white;
}

.SecondMain {
    width: 1020px;
    height: 680px;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
}

.SecondMain .container {
    width: 940px;
    height: 601px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 16px 40px 57px 40px;
}

.SecondMain .pic {
    width: 220px;
    height: 187px;
    background-color: #464b5e;
}

.SecondMain .left {
    margin-left: 5px;
}

.SecondMain .row2 {
    margin-top: 7px;
}

.SecondMain .row3 {
    align-self: flex-end;
}

.SecondBottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.SecondFooter {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.SecondFooter .header {
    height: 210px;
}

.SecondFooter p {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
    width: 980px;
}

.SecondFooter h1{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 65px;
    margin-left: 40px;
    margin-bottom: 17px;
}

.SecondFooter .About {
    height: 517px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.SecondFooter .img {
    width: 300px;
    height: 300px;
    background-color: #464b5e;
}

.SecondFooter .jensen_img {
    margin-left: 40px;
}

.SecondFooter .miles_img {
    margin-left: 20px;
}

.SecondFooter .description{
    height: 100px;
}

.SecondFooter h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.SecondFooter .miles_h2 {
    margin-left: 20px;
}

.SecondFooter .jensen_h2 {
    margin-left: 40px;
}

.SecondFooter .About p{
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.SecondFooter .jensen_p {
    margin-left: 40px;
}

.SecondFooter .miles_p {
    margin-left: 20px;
}

.SecondFooter .visari_p {
   margin-left: 0;
}

.SecondFooter nav {
    display: flex;
    flex-direction: row;
}

.SecondFooter .jensen_nav {
    margin-left: 40px;
}

.SecondFooter .miles_nav {
    margin-left: 20px;
}

.SecondFooter .circle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #f2f2f2;
    border: 1px solid #666d89;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-right: 8px;
}

.SecondFooter svg {
    fill: #666d89;
    width: 20px;
    height: 20px;
}

.SecondFooter svg:hover {
    fill:black;
}

.SecondBottom1 {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}


