body{
    margin-top: 0;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.FirstHeader {
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.p {
    display: flex;
    flex-direction: row;
}

.FirstHeader h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 600;
    text-align: left;
    margin-left: 40px;
}

.FirstHeader p{
    font-size: 12px;
    line-height: 6px;
    /*color: white;*/
    font-family: "Lato";
    font-weight: 700;
    text-align: right;
    margin-right: 40px;
    margin-left: 20px;
    word-spacing: 30px;
}

.FirstHeader p:hover {
    color: #f06c64;
}

.FirstHeader a {
    color: #ffffff;
}

.red {
    color: #f06c64;
}

.FirstBottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin: 0;
}

.FirstMain {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FirstMain i {
    height: 15px;
    width: 15px;
    opacity: 0.3;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}


.FirstMain .LeftArrow {
    transform: rotate(135deg);
    order: 1;
    margin-left: 40px;
}

.FirstMain .RightArrow {
    transform: rotate(-45deg);
    order: 4;
    margin-right: 40px;
}

.FirstMain .RightArrow:hover {
    opacity: 1;
}

.FirstMain .LeftArrow:hover {
    opacity: 1;
}

.FirstMain .mobile {
    box-shadow: 12px 11px 0 rgba(0, 0, 0, 0.5);
    order: 2;
    width: 215px;
    height: 458px;
    border-radius: 27px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 200px;
}

.FirstMain .rotate {
    transform: rotate(90deg);
}

.FirstMain .RedDot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #eb5055;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
}

.FirstMain .circle {
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    margin-top: 20px;
    margin-bottom: 15px;
}

.FirstMain .speaker {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
}

.FirstMain .screen {
    border: 3px solid #c6c6c6;
    width: 189px;
    height: 333px;
    margin-top: 20px;
    background-color: black;
}

.FirstMain .img img {
    width: 189px;
    height: 333px;
    position: absolute;
    margin-top: 0;
}

.FirstMain .ButCircle {
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
}

.FirstMain .but {
    width: 16px;
    height: 16px;
    border: 2px solid #bababa;
    border-radius: 4px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.FirstBottom1 {
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
    margin-top: 0;
    margin-bottom: 0;
}

.FirstFooter .container {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-areas:
            "header header header"
            "pen bulb heart"
            "phone bubble star";

}

.FirstFooter .container h1 {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.FirstFooter .description {
    word-wrap: break-word;
    margin-left: 20px;
    width: 940px;
    height: 57px;
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.FirstFooter .header {
    grid-area: header;
}

.FirstFooter .pen {
    grid-area: pen;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter .phone {
    grid-area: phone;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter .bulb {
    grid-area: bulb;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter .bubble {
    grid-area: bubble;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter .heart {
    grid-area: heart;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter .star {
    grid-area: star;
    display: flex;
    justify-content: flex-start;
}

.FirstFooter h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.FirstFooter img {
    align-self: flex-start;
    margin-top: 16px;
    margin-right: 20px ;
}

.FirstFooter .container .text p {
    width: 219px;
    height: 65px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.FirstFooter .margin {
    margin-left: 20px;
}

.FirstBottom2 {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}





/*JS!*/



.carusel {
    margin-top: 20px;
    width: 1020px;
    position: absolute;
    display: block;
}

.mobiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: none;
    position: relative;
    width: 85%;
/*    opacity: 0;
    z-index: 1;
    transition: opacity 1s;*/
}

.item.active {
/*    opacity: 1;
    z-index: 2;*/
    display: block;
    width: 100%;
}

.LeftArrow, .RightArrow {
/*    z-index: 200;*/
}

/*.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}*/

/*.item.image {
     margin-left: 100px;
}

.LeftArrow,.RightArrow {
    transform: translateY(-50%);
}*/

/*.next {
    position: absolute;
    display: block;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

.FirstMain {
    overflow: hidden;
}*/

/*@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -85%;
    }
}

@keyframes right {
    from {
        right: 85%;
    }
    to {
        right: 0;
    }
}*/

.off {
    display: none;
}

@media all and (max-width: 768px) and (min-width: 375px) {
    .heart img {
        margin-left: 20px;
    }
    .bubble img {
        margin-left: 20px;
    }
    .phone .max {
        margin-left: 0px;
    }
    .FirstFooter .description {
        width: 670px;
    }
    .FirstFooter .container {
        height: 992px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-areas:
                "header header"
                "pen bulb"
                "heart phone"
                "bubble star";
    }
}



.btn {
    display: none;
    margin-left: 2%;
    height: 50px;
    width: 50px;
}

.btn span,
.btn span::before,
.btn span::after {
    top: 50%;
    left: 3.5%;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: red;
    transition: 0.1s;
}

.btn span::before,
.btn span::after {
    content: '';
}

.btn span::before {
    transform: translateY(-7px);
}
.btn span::after {
    transform: translateY(5px);
}

.btn-active span::before {
    transform: rotate(45deg);
}
.btn-active span::after{
    transform: rotate(-45deg);
}
.btn-active span {
    height: 0;
}

@media only screen and (max-width: 375px) {
    .btn {
        display: block;
    }
    .FirstHeader .p {
        display: none;
    }
    .FirstHeader h1{
        position: relative;
        right: 45%;
    }
    .container .description {
        width: 375px;
    }
    .FirstFooter {
        /*width: 375px;*/
        height: 1900px;
    }
    .marginMax {
        margin-left: 20px;
    }
    .max375 {
        margin-left: auto;
        margin-right: auto;
    }
    .FirstFooter .container {
        /*width: 375px;*/
        height: 1900px;
        background-color: #f2f2f2;
        display: grid;
        grid-template-areas:
                "header"
                "pen"
                "bulb"
                "heart"
                "phone"
                "bubble"
                "star";
    }
}